/*SOME STUFF*/

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*BASE*/

html,
body {
  height: 100%;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.25rem;
  color: #f79c21;
  font-weight: 500;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 64rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 1rem;
}

/*HEADER*/

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #242f4b;
  padding-bottom: 1rem;
}

.header-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  margin: 1rem 0 0;
}

h1 span {
  color: #d23540;
}

.header p {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  margin-left: 20%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.header-background-dots {
  display: flex;
  width: 100%;
  height: 4.9rem;
}

.header-background-dots:last-child {
  justify-content: flex-end;
}

.right-dots,
.left-dots {
  width: 29%;
  background-repeat: repeat;
}

.right-dots {
  background-image: url('../assets/icons/Untitled-3.png');
}

.left-dots {
  background-image: url('../assets/icons/Untitled-4.png');
}

/*MAIN*/

.slider {

  background-color: #242f4b;
}

.slider-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.slider-img {
  display: grid;
  grid-auto-flow: column;
  width: 35rem;
  grid-template-columns: repeat(5, 35rem);
  grid-template-rows: 35rem;
  overflow-x: hidden;
  align-items: center;
  justify-items: center;
  background-color: #242f4b;
  padding-bottom: 1rem;
}

.img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider-img .img {
transition: all 1s ease-in-out;
}

#SecondSlide:checked ~ .slider-img .img {
  transform: translateX(-35rem);
}
#ThitdSlide:checked ~ .slider-img .img {
  transform: translateX(-70rem);
}

#FourthSlide:checked ~ .slider-img .img {
  transform: translateX(-105rem);
}
#FithSlide:checked ~ .slider-img .img {
  transform: translateX(-140rem);
}

.slider-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.subtitle {
  opacity: 0;
  height: 0;
  transition: all .5s ease-in-out;
}

.slider-label {
  display: flex;
  gap: .4rem;
  justify-content: flex-end;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.label-area {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.button {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #d23540;
  border-radius: 50%;
  transition: opacity .4s ease-in-out;
}

.label-area:hover .button {
  animation: backgroundcolor 1s infinite alternate;
}

@keyframes backgroundcolor {
  0% {
    background-color: #d23540;
  }
  50% {
    background-color: #f79c21;
  }
  100% {
    background-color: wheat;
  }
}

#FirstSlide:checked ~ .slider-body .slider-subtitle .subtitle-first,
#SecondSlide:checked ~ .slider-body .slider-subtitle .subtitle-second,
#ThitdSlide:checked ~ .slider-body .slider-subtitle .subtitle-thitd,
#FourthSlide:checked ~ .slider-body .slider-subtitle .subtitle-fourth,
#FithSlide:checked ~ .slider-body .slider-subtitle .subtitle-fith {
  opacity: 1;
  height: 2rem;
  animation: appearence 1s ease;
}

@keyframes appearence {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#FirstSlide:checked ~ .slider-body .first-label .button,
#SecondSlide:checked ~ .slider-body .second-label .button,
#ThitdSlide:checked ~ .slider-body .thitd-label .button,
#FourthSlide:checked ~ .slider-body .fourth-label .button,
#FithSlide:checked ~ .slider-body .fith-label .button {
  background-color:#f79c21; 
}

