/*SOME STUFF*/

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*BASE*/

html,
body {
  height: 100%;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.25rem;
  color: #f79c21;
  font-weight: 500;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 64rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 1rem;
}

/*HEADER*/

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #242f4b;
  padding-bottom: 1rem;
}

.header-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  margin: 1rem 0 0;
}

h1 span {
  color: #d23540;
}

.header p {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  margin-left: 20%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.header-background-dots {
  display: flex;
  width: 100%;
  height: 4.9rem;
}

.header-background-dots:last-child {
  justify-content: flex-end;
}

.right-dots,
.left-dots {
  width: 29%;
  background-repeat: repeat;
}

.right-dots {
  background-image: url('../assets/icons/Untitled-3.png');
}

.left-dots {
  background-image: url('../assets/icons/Untitled-4.png');
}

/*MAIN*/

.slider-show {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 100%);
  grid-template-rows: auto;
  overflow-x: hidden;
  align-items: center;
  justify-items: center;
  background-color: #242f4b;
  padding-bottom: 1rem;
}
